
<!--side navigation-->

<app-side-navbar (toggleSideNavMinimised)="sideNavToggle($event)" ></app-side-navbar>

<!--top navigation bar-->
<app-top-navbar [currentRoute]="currentRoute"></app-top-navbar>

        <!--main page content -->
<div style="padding-top: 43px"
  [style.margin-left]="sideNavMinimised? '52px' : '200px' ">
  <!--main content body-->
  <router-outlet></router-outlet>
</div>
