<!--modal to display selected applicant details-->
<div id="applicantsPreviewId" class="w3-modal w3-animate-opacity modalPreview"
     [style.display]="applicantService.previewModalOpen? 'block' : 'none'">
  <div class="w3-modal-content w3-card-4 w3-margin-bottom"
       style="width:90%;">
    <!--bursary title-->
    <header class="w3-container w3-padding w3-teal" >
      <div>
        <div class="w3-left-align w3-third" style="display: inline;">
          <h3 style="display: inline;">Preview : {{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA,"firstName") }}</h3>
        </div>

        <div class="w3-bar w3-third" style="display: inline; padding-left: 5em">
          <!--Shortlist button-->
          <button class="w3-button w3-small w3-ripple w3-green w3-margin-right"
                  *ngIf="applicantService.selectedApplicant.clientStatus !== 'Shortlisted'"
                  (click)="applicantService.updateSpecificApplicationStatus(applicantService.selectedApplicant, 'Shortlisted');"
                  [style.visibility]="applicantService.selectedApplicant.clientStatus=='Rejected' ? 'hidden' : 'visible'">
            Shortlist
          </button>

          <button class="w3-button w3-small w3-ripple w3-green w3-margin-right"
                  *ngIf="applicantService.selectedApplicant.clientStatus === 'Shortlisted'"
                  (click)="applicantService.updateSpecificApplicationStatus(applicantService.selectedApplicant, 'unShortlisted');"
                  [style.visibility]="applicantService.selectedApplicant.clientStatus=='Rejected' ? 'hidden' : 'visible'">Unshortlist</button>

          <!--Flag application-->
          <button class="w3-button w3-small w3-amber w3-margin-right"
                  (click)="applicantService.updateSpecificApplicationFlagStatus(applicantService.selectedApplicant);"
                  [style.visibility]="applicantService.selectedApplicant.clientStatus =='Rejected' ? 'hidden' : 'visible'">
            {{applicantService.selectedApplicant.flagged ? "Unflag" : "Flag"}}
          </button>

<!--          &lt;!&ndash;reject application &ndash;&gt;-->
<!--          <button class="w3-button w3-small w3-red"-->
<!--                  (click)="applicantService.updateSpecificApplicationStatus(applicantService.selectedApplicant, 'Rejected');">-->
<!--            {{applicantService.selectedApplicant.clientStatus == "Rejected" ? "Unreject" : "Reject"}}-->
<!--          </button>-->
        </div>

        <div class="w3-right w3-third w3-right" style="display: inline;">
          <div class="w3-right" style="padding-right: 2em">
            <div class="w3-bar">
              <!--Previous application-->
              <button class="w3-button w3-round-xxlarge w3-small w3-ripple w3-white w3-margin-right"
                      (click)="applicantService.viewPreviousApplicant()">Previous</button>
              <!--Next application-->
              <button class="w3-button w3-round-xxlarge w3-small w3-white w3-margin-right"
                      (click)="applicantService.viewNextApplicant()">Next</button>
            </div>
          </div>

          <span (click)="applicantService.previewModalToggle(applicantService.selectedApplicant)"
                class="w3-button w3-display-topright">&times;</span>
        </div>
      </div>
    </header>

    <!--personal details and school details-->

    <div class="w3-row-padding">
      <app-personal-details></app-personal-details>
      <app-school-details></app-school-details>
    </div>

    <app-extra-details></app-extra-details>


    <!--modal footer-->
    <footer class="w3-container w3-teal" >
      <!--shortlist, accept and reject buttons-->
      <div class="w3-row-padding">
        <div class="w3-third">
          <div style="width: 10px;height: 10px">
          </div>
        </div>

        <div class="w3-third">
          <div class="w3-center w3-margin">
            <div class="w3-bar">
              <!--Shortlist button-->
              <!--Shortlist button-->
              <button class="w3-button w3-small w3-ripple w3-green w3-margin-right"
                      *ngIf="applicantService.selectedApplicant.clientStatus !== 'Shortlisted'"
                      (click)="applicantService.updateSpecificApplicationStatus(applicantService.selectedApplicant, 'Shortlisted');"
                      [style.visibility]="applicantService.selectedApplicant.clientStatus=='Rejected' ? 'hidden' : 'visible'">
                Shortlist
              </button>

              <button class="w3-button w3-small w3-ripple w3-green w3-margin-right"
                      *ngIf="applicantService.selectedApplicant.clientStatus === 'Shortlisted'"
                      (click)="applicantService.updateSpecificApplicationStatus(applicantService.selectedApplicant, 'unShortlisted');"
                      [style.visibility]="applicantService.selectedApplicant.clientStatus=='Rejected' ? 'hidden' : 'visible'">Unshortlist</button>


              <!--Flag application-->
              <button id="hideOnRejectedApplicant" class="w3-button w3-small w3-amber w3-margin-right"
                      (click)="applicantService.updateSpecificApplicationFlagStatus(applicantService.selectedApplicant);"
                      [style.visibility]="applicantService.selectedApplicant.clientStatus=='Rejected' ? 'hidden' : 'visible'">
                {{applicantService.selectedApplicant.flagged ? "Unflag" : "Flag"}}
              </button>


<!--              &lt;!&ndash;reject application &ndash;&gt;-->
<!--              <button class="w3-button w3-small w3-red"-->
<!--                      (click)="applicantService.updateSpecificApplicationStatus(applicantService.selectedApplicant, 'Rejected');">-->
<!--                {{applicantService.selectedApplicant.clientStatus == "Rejected" ? "Unreject" : "Reject"}}-->
<!--              </button>-->
            </div>
          </div>
        </div>

        <div class="w3-third">
          <div style="padding-top: 1.2em; padding-right: 1.5em" class="w3-right-align">
            <button class="w3-button w3-round-xxlarge w3-small w3-ripple w3-light-gray w3-margin-right"
                    (click)="applicantService.viewPreviousApplicant()">Previous</button>
            <!--Next application-->
            <button class="w3-button w3-round-xxlarge w3-small w3-white w3-margin-right w3-light-gray"
                    (click)="applicantService.viewNextApplicant()">Next</button>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
