<div class="w3-top">

  <div class="w3-bar zelda-green w3-large">

    <!--dummy item to adjust other items-->
    <a href="#" class="w3-bar-item w3-button w3-mobile"
       [style.width]="sideNavMinimised ? '40%': '50%'"></a>

    <!--tittle in nav bar-->
    <span class="w3-mobile w3-bar-item ">{{ currentRoute }}</span>

    <!-- dropdown and email -->
    <div class="w3-dropdown-hover w3-right w3-mobile">
      <!--user email-->
      <span>{{ loggedInUserEmail }}</span>
      <button class="w3-button"><i class="fa fa-question-circle-o" style="color: #ffffff"></i></button>

      <!-- dropdown content-->
      <div class="w3-dropdown-content w3-bar-block" style="right:0">
        <!--messages link-->
        <a routerLink="/messaging" class="w3-bar-item w3-button w3-mobile"><i class="fa fa-envelope"></i> Messages</a>
        <!--profile link-->
        <a routerLink="/profile" class="w3-bar-item w3-button w3-mobile"><i class="fa fa-user-circle"></i> Profile</a>
        <!--logout link-->
        <span (click)="onLogoutClick()" class="w3-bar-item w3-button w3-mobile"><i class="fa fa-sign-out"></i> Logout</span>
      </div>
    </div>


  </div>
</div>
