<!--todo: setup forgot password page-->
<!--todo: setup error 404 page-->
<!--todo: set activity indicator when logging in or out -->

<div class="w3-display-container" style="max-height: 100vh">

  <!--background image-->
      <img src="assets/img/background.jpg"
           style="width:100%; max-height: 100vh"
           class="w3-grayscale-min w3-opacity-max" alt="background image">


    <div class="w3-card-4 w3-white w3-display-middle	" style="max-width:500px">

      <!--logo in form field -->
      <div class="w3-center"><br>
        <img src="assets/img/new_zelda_logo.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
      </div>

      <!--start of form-->
      <form class="w3-container" (submit)="onSubmit()">
        <div class="w3-section">
          <!--email field-->
          <p>
            <input [(ngModel)]="email" placeholder="your@email.com" class="w3-input" name="email" type="email" required>
            <label class="w3-small">Email</label>
          </p>

          <!--password field-->
          <p>
            <input name="password" [(ngModel)]="password" placeholder="password" class="w3-input" type="password" required>
            <label class="w3-small">Password</label></p>

          <!--submit button-->
          <button class="w3-button w3-block w3-teal w3-section w3-padding" type="submit">Login</button>

        </div>
      </form>

      <!--start of links to signup and forgot password page-->
      <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
        <!--sign up link-->
        <span class="w3-left w3-padding w3-hide-small "><a routerLink="/register">Sign Up</a></span>

        <!--forgot password -->
        <span class="w3-right w3-padding w3-hide-small ">Forgot <a routerLink="#">password?</a></span>
      </div>

    </div>

</div>


