.bursaries {
    cursor: pointer;
}


.bursaries tr.selected:hover {
    background-color:#949393 !important;
    color: rgb(29, 28, 28);
  }

.bursaries tr:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.row {
     padding-top: 10px;
}

  .button {
      width: 200px;
  }

  th {
      width: 170px;
  }

  select {
      background-color: #6f6f70;
      color: white;
  }

  .btn-secondary {
      background-color: #6f6f70;
  }
  
