
<div class="w3-row-padding w3-margin-top w3-margin-bottom">

  <!--bursary title input-->
  <div class="w3-half">

    <div class="w3-row w3-border-bottom"
         style='font-weight: bold; border: 5px black;'>
      <div class="w3-col" style="width: 95%">
        <input class="w3-input w3-large w3-border-0" type="text"
               name="title"
               minlength="5" required [(ngModel)]="bursary.title"
               placeholder="Bursary title" #bursaryTitle="ngModel" >

        <!--input validation-->
        <div *ngIf="bursaryTitle.invalid && (bursaryTitle.dirty || bursaryTitle.touched)" class="w3-container w3-pale-red">

          <div *ngIf="bursaryTitle.errors.required">
            title is required.
          </div>
          <div *ngIf="bursaryTitle.errors.minlength">
            title must not be too short.
          </div>

        </div>
      </div>

      <div class="w3-rest"
           style="text-align: center; padding-top: 8px">
        <i class='far fa-edit' style='font-weight: bold;' ></i>
      </div>

    </div>


  </div>

  <!--bursary action buttons -->
  <div class="w3-half">

    <div class="w3-right">

      <!--editing -->
      <form #bursaryForm="ngForm" class="w3-row-padding"
            [style.display]="edit ? 'block' : 'none' ">
        <div class="w3-third" >
          <button class="w3-button w3-teal w3-round width-small" type-="submit" (click)="onSaveOrPublish(bursaryForm, 'draft', '')">Save draft</button>
         <!--todo: have a tooltip discribing what each button does -->
        </div>
        <div class="w3-third">
          <button class="w3-button w3-yellow w3-round width-small" (click)="onSaveOrPublish(bursaryForm, 'publish', '')" >Publish</button>
        </div>
        <div class="w3-third">
          <button class="w3-button w3-red w3-round width-small" >Discard</button>
        </div>
      </form>

      <!--not editing-->
      <form #bursaryForm="ngForm" class="w3-row-padding"
            [style.display]="!edit ? 'block' : 'none' ">
        <div class="w3-half" >
          <button class="w3-button w3-teal w3-round width-small" type-="submit" (click)="onSaveOrPublish(bursaryForm, 'draft', '')">Save draft</button>
        </div>
        <div class="w3-half">
          <button class="w3-button w3-yellow w3-round width-small" (click)="onSaveOrPublish(bursaryForm, 'publish', '')" >Publish</button>
        </div>

      </form>

    </div>

  </div>
</div>

<!--bursary overview info text-->
<div class="w3-half w3-container w3-margin-bottom">
  <h6 class="w3-margin-top w3-margin-bottom">
    The Bursary Overview provides the details and description of the bursary a student sees before deciding to apply.
  </h6>
</div>


<div class="w3-container w3-margin-top">

  <!--tab buttons-->
  <div class="w3-row">
    <!--tab button one-->

    <div class="w3-half w3-border-bottom">
      <button [class.w3-teal]="selectedTab == 'one'"
              class="w3-button w3-border-top w3-border-right w3-border-left
              border-top-radius"
              style="width: 99%"
              (click)="changeTab('one')">Bursary Overview </button>
    </div>

    <!--tab button two-->
    <div class="w3-half w3-border-bottom">
      <button [class.w3-teal]="selectedTab  == 'two'"
              class="w3-button w3-block w3-border-top w3-border-right w3-right
            w3-border-left border-top-radius"
              style="width: 99%"
              (click)="changeTab('two')">Bursary Form Fields </button>
    </div>

  </div>

  <!--page content-->
  <div >
    <!--tab one content-->
    <div [style.display]="selectedTab == 'one'? 'block' : 'none' ">



      <!--beginning of bursary overview form-->
      <form class="w3-margin-top w3-margin-bottom"
            #bursaryForm="ngForm" (ngSubmit)="onSaveOrPublish(bursaryForm, 'draft', '')">

        <!--bursary link, fields and dates -->
        <div class="w3-row">

          <!--bursary link and field dropdown-->
          <div class="w3-col" style="width: 55%; margin-right: 10px">
            <div class="w3-border w3-padding w3-round" style="height: 130px">
              <!--bursary link and edit icon-->
              <div class="w3-row">

                <div class="w3-col" style="width: 25%;padding-top: 8px">
                  <p>
                    Website Url:
                  </p>
                </div>
                <div class="w3-col" style="width: 50%">

                  <input class="w3-input w3-border-0" minlength="5"
                         #bursaryUrl = "ngModel"
                         name="bursaryUrl" [(ngModel)]="bursary.bursaryUrl"
                         type="text" placeholder="Bursary Website Link">


                  <!--input validation-->
                  <div *ngIf="bursaryUrl.invalid && (bursaryUrl.dirty || bursaryUrl.touched)" class="w3-container w3-pale-red">


                    <div *ngIf="bursaryUrl.errors.minlength">
                      Url must not be too short.
                    </div>

                  </div>
                </div>

                <div class="w3-rest"
                     style="padding-top: 8px">
                  <i class='far fa-edit w3-margin-left' style='font-weight: bold;' ></i>
                </div>

              </div>
              <!--todo: find out why multiselect is not working -->
              <!--course field select-->
              <div class="w3-row w3-margin-top" >

                <!--field options -->
                <div class="w3-col w3-border w3-round" style="width: 49%;margin-right: 1%">
                  <angular2-multiselect
                    name="fields"
                    [data]="fieldOptions"
                    [(ngModel)]="selectedFieldOptions" [settings]="fieldDropdownSettings">
                  </angular2-multiselect>

                </div>

                <!--secondary field option-->
                <div class="w3-rest w3-border w3-round">

                  <angular2-multiselect
                    name="applicableFields"
                    [data]="applicableFieldsOptions"
                    [(ngModel)]="bursary.applicableFields" [settings]="courseDropdownSettings">
                  </angular2-multiselect>
                </div>
              </div>
            </div>
          </div>

          <!--todo: find out why date picker is not working -->
          <!--dates selection selection-->
          <div class="w3-rest ">
              <div class="w3-border w3-round w3-padding" style="height: 130px">
                <!--open date-->
                  <div class="w3-row">
                    <!--label -->
                    <div class="w3-half" style="padding-top: 6px">
                        <p style="font-size: small">Applications Opening Date</p>
                    </div>

                    <!--input-->
                    <div class="w3-half">
                      <div class="w3-row w3-border">
                        <div class="w3-col" style="width: 90%">
                           <input class="w3-input w3-border-0 padding-small-center-input"
                               name="openingDate"
                               placeholder="Opening Date"
                               [(ngModel)]="bursary.openingDate" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" >
                          <owl-date-time #dt1></owl-date-time>
                        </div>
                        <div class="w3-rest">
                          <span [owlDateTimeTrigger]="dt1"><i class="fa fa-calendar"></i></span>
                        </div>
                      </div>
                    </div>
                  </div>

                <!--close date-->
                <div class="w3-row">
                  <!--label -->
                  <div class="w3-half" style="padding-top: 6px">
                    <p style="font-size: small">Applications Closing Date</p>
                  </div>

                  <!--input-->
                  <div class="w3-half">
                    <div class="w3-row w3-border">
                      <div class="w3-col" style="width: 90%">
                        <input class="w3-input w3-border-0 padding-small-center-input"
                               name="closingDate"
                               placeholder="Closing Date"
                               [(ngModel)]="bursary.closingDate" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" >
                      </div>
                      <div class="w3-rest">
                        <span [owlDateTimeTrigger]="dt2"><i class="fa fa-calendar"></i></span>
                      </div>
                    </div>

                    <owl-date-time #dt2></owl-date-time>
                  </div>
                </div>


                <p>Applications will be open for : <span class="w3-text-red">
                  {{weeksBetween(bursary.openingDate, bursary.closingDate)}} Weeks</span></p>
              </div>
          </div>


        </div>



        <!--bursary description section-->
        <div class="w3-margin-top" >

          <!--section top-->
          <div class="w3-light-grey w3-padding border-top-radius w3-border"  >
            <div class="w3-row">
              <div class="w3-half">
                <h6 style="margin-top: 5px">
                  <b>Bursary Description</b>
                </h6>
              </div>

              <div class="w3-half w3-tooltip">
                <div class="w3-right">
                  <i class="fa fa-question-circle w3-text-grey" style="font-size:24px"></i>
                  <p class="w3-text w3-round w3-teal w3-padding" style="position:absolute;right:25px;bottom:-25px" >
                    Details about what the bursary is about go here, click the edit icon to make changes.</p>
                </div>

              </div>

            </div>

          </div>

          <!--section text-->
          <div class="w3-border-left w3-border-right w3-border-bottom w3-padding w3-display-container"
               style="min-height: 150px">

            <!--displayed when wysiwyg is closed-->
            <div [style.display]="descriptionOpen ? 'none' : 'block' "  >
              <div [innerHTML]="bursary.subtitle">

              </div>

              <div [style.display]="bursary.subtitle ? 'none' : 'block' ">

                <p >Details about what the bursary is about go here. </p>
                <p>Click the edit icon to make changes.</p>
              </div>


            </div>


            <!--Description text input ckeditor-->
            <div [style.display]="descriptionOpen ? 'block' : 'none' " >
              <ckeditor skin="moono-lisa" [config]="{uiColor: '#c9c9c9', extraPlugins: 'divarea'}"
                        [(ngModel)]="bursary.subtitle" name="description">
              </ckeditor>
            </div>



            <div class="w3-display-bottomright" (click)="toggleWysiwyg('descriptionOpen')">
              <i class='far fa-edit w3-margin' style='font-size:24px' [style.display]="descriptionOpen ? 'none' : 'block' "></i>
              <button class='w3-button w3-margin w3-round w3-teal' [style.display]="descriptionOpen ? 'block' : 'none' ">Save</button>
            </div>

          </div>
        </div>


        <!--application process section-->
        <div class="w3-margin-top" >

          <!--section top-->
          <div class="w3-light-grey w3-padding border-top-radius w3-border"  >
            <div class="w3-row">
              <div class="w3-half">
                <h6 style="margin-top: 5px">
                  <b>Application Process</b>
                </h6>
              </div>

              <div class="w3-half w3-tooltip">
                <div class="w3-right">
                  <i class="fa fa-question-circle w3-text-grey" style="font-size:24px"></i>
                  <p class="w3-text w3-round w3-teal w3-padding" style="position:absolute;right:25px;bottom:-25px" >
                    Details about the application process go here, click the edit icon to make changes.</p>
                </div>

              </div>

            </div>

          </div>

          <!--section text-->
          <div class="w3-border-left w3-border-right w3-border-bottom w3-padding w3-display-container"
               style="min-height: 150px">

            <!--displayed when wysiwyg is closed-->
            <div [style.display]="applicationProcessOpen ? 'none' : 'block' "  >
              <div [innerHTML]="bursary.applicationProcess">

              </div>

              <div [style.display]="bursary.applicationProcess ? 'none' : 'block' ">
                <p>Details about the application process go here.</p>
                <p>Click the edit icon to make changes.</p>
              </div>


            </div>


            <!--application process text input ckeditor-->
            <div [style.display]="applicationProcessOpen ? 'block' : 'none' " >
              <ckeditor skin="moono-lisa" [config]="{uiColor: '#c9c9c9', extraPlugins: 'divarea'}"
                        [(ngModel)]="bursary.applicationProcess" name="applicationProcess">
              </ckeditor>
            </div>



            <div class="w3-display-bottomright" (click)="toggleWysiwyg('applicationProcessOpen')">
              <i class='far fa-edit w3-margin' style='font-size:24px' [style.display]="applicationProcessOpen ? 'none' : 'block' "></i>
              <button class='w3-button w3-margin w3-round w3-teal' [style.display]="applicationProcessOpen ? 'block' : 'none' ">Save</button>
            </div>

          </div>
        </div>


        <!--additional requirements section-->
        <div class="w3-margin-top" >

          <!--section top-->
          <div class="w3-light-grey w3-padding border-top-radius w3-border"  >
            <div class="w3-row">
              <div class="w3-half">
                <h6 style="margin-top: 5px">
                  <b>Additional Requirements</b>
                </h6>
              </div>

              <div class="w3-half w3-tooltip">
                <div class="w3-right">
                  <i class="fa fa-question-circle w3-text-grey" style="font-size:24px"></i>
                  <p class="w3-text w3-round w3-teal w3-padding" style="position:absolute;right:25px;bottom:-25px" >
                    Details about any additional requirements go here e.g. student must be from a specific area. Click the edit icon to make changes.</p>
                </div>

              </div>

            </div>

          </div>

          <!--section text-->
          <div class="w3-border-left w3-border-right w3-border-bottom w3-padding w3-display-container"
               style="min-height: 150px">

            <!--displayed when wysiwyg is closed-->
            <div [style.display]="requirementsOpen ? 'none' : 'block' "  >
              <div [innerHTML]="bursary.requirements">

              </div>

              <div [style.display]="bursary.requirements ? 'none' : 'block' ">
                <p>Details about any additional requirements go here e.g. student must be from a specific area.</p>
                <p>Click the edit icon to make changes.</p>
              </div>


            </div>


            <!--additional requirements text input ckeditor-->
            <div [style.display]="requirementsOpen ? 'block' : 'none' " >
              <ckeditor skin="moono-lisa" [config]="{uiColor: '#c9c9c9', extraPlugins: 'divarea'}"
                        [(ngModel)]="bursary.requirements" name="requirements">
              </ckeditor>
            </div>



            <div class="w3-display-bottomright" (click)="toggleWysiwyg('requirementsOpen')">
              <i class='far fa-edit w3-margin' style='font-size:24px' [style.display]="requirementsOpen ? 'none' : 'block' "></i>
              <button class='w3-button w3-margin w3-round w3-teal' [style.display]="requirementsOpen ? 'block' : 'none' ">Save</button>
            </div>

          </div>
        </div>


        <!--Support provided section-->
        <div class="w3-margin-top" >

          <!--section top-->
          <div class="w3-light-grey w3-padding border-top-radius w3-border"  >
            <div class="w3-row">
              <div class="w3-half">
                <h6 style="margin-top: 5px">
                  <b>Support Provided</b>
                </h6>
              </div>

              <div class="w3-half w3-tooltip">
                <div class="w3-right">
                  <i class="fa fa-question-circle w3-text-grey" style="font-size:24px"></i>
                  <p class="w3-text w3-round w3-teal w3-padding" style="position:absolute;right:25px;bottom:-25px" >
                    Details about any support provided for the student got here e.g.
                    tuition, allowance, books e.t.c., click the edit icon to make changes.</p>
                </div>

              </div>

            </div>

          </div>

          <!--section text-->
          <div class="w3-border-left w3-border-right w3-border-bottom w3-padding w3-display-container"
               style="min-height: 150px">

            <!--displayed when wysiwyg is closed-->
            <div [style.display]="supportOpen ? 'none' : 'block' "  >
              <div [innerHTML]="bursary.supportProvided">

              </div>

              <div [style.display]="bursary.supportProvided ? 'none' : 'block' ">
                <p >
                  Details about any support provided for the student got here e.g.
                  tuition, allowance, books e.t.c. </p>
                <p>Click the edit icon to make changes.</p>
              </div >


            </div>


            <!--support provided text input ckeditor-->
            <div [style.display]="supportOpen ? 'block' : 'none' " >
              <ckeditor skin="moono-lisa" [config]="{uiColor: '#c9c9c9', extraPlugins: 'divarea'}"
                        [(ngModel)]="bursary.supportProvided" name="supportProvided">
              </ckeditor>
            </div>



            <div class="w3-display-bottomright" (click)="toggleWysiwyg('supportOpen')">
              <i class='far fa-edit w3-margin' style='font-size:24px' [style.display]="supportOpen ? 'none' : 'block' "></i>
              <button class='w3-button w3-margin w3-round w3-teal' [style.display]="supportOpen ? 'block' : 'none' ">Save</button>
            </div>

          </div>
        </div>

      </form>

    </div>

    <!--tab two main page content bursary formFields-->
    <div [style.display]="selectedTab == 'two'? 'block' : 'none' " class="w3-container">



      <!--custom field options selection-->
      <form #bursaryForm="ngForm" (ngSubmit)="onSaveOrPublish(bursaryForm, 'draft', '')">

        <!--Add and Arrange bursary fields text and  Form preview text-->
        <div class="w3-row-padding w3-margin-top w3-center w3-margin-bottom">

          <!--Add and Arrange or edit bursary fields text-->
          <h5>{{ editing? 'Edit Bursary Field' : 'Add and Arrange Bursary Fields' }}</h5>

        </div>

        <!--add or edit field-->
        <div>

          <!--select , describe and add/edit field-->
          <div class="w3-row-padding">

            <!--custom field options -->
            <div class="w3-quarter">
              <!--custom field options select -->

              <angular2-multiselect
                [ngClass]="{ 'w3-hide' : editing }"
                [data]="customFields"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="selectedCustomField" [settings]="customFieldsSettings">
              </angular2-multiselect>

              <!--display un editable field name when editing -->
              <p [ngClass]="{ 'w3-show' : editing }"
                 class="w3-large w3-hide">{{ customFieldName }}</p>
            </div>

            <!--custom field description-->
            <div class="w3-half">
              <!--custom field description-->
              <div >

                <input class="w3-input" type="text"
                       minlength="2"
                       [ngModelOptions]="{standalone: true}"
                       [(ngModel)]="customFieldDescription"
                       placeholder="Field Description">
              </div>


            </div>

            <!--Add field button-->
            <div class="w3-quarter ">
              <!--Add field button-->
              <div [ngClass]="{ 'w3-hide' : editing }" >
                <button
                  type="button"
                  class="w3-block w3-teal w3-padding"
                  (click)="addField()">Add field</button>
              </div>

              <!--done editing field button-->
              <div [ngClass]="{ 'w3-show' : editing }" class="w3-hide">
                <button
                  type="button"
                  class="w3-block w3-teal w3-padding"
                  (click)="doneEditing()">Update</button>
              </div>

            </div>

          </div>


        </div>



        <!--Form preview  text-->
        <div class="w3-center " style="margin-top: 30px ">

          <!--Form preview header text-->
          <h5 class="w3-margin-top">Form Preview</h5>

        </div>

        <!-- Form preview table-->
        <div class="w3-row-padding w3-margin-bottom  w3-border w3-border-teal" style="margin-top: 0; padding: 0">

          <!--personal details-->
          <div class="w3-third  ">

            <!--Personal details text-->
            <h6 class="w3-center w3-margin  ">Personal details</h6>
            <!--display the ordered fields from array-->
            <div class="w3-cell-row " *ngFor="let field of orderedFields">

              <div *ngIf="field.field.section === 'a'">
                <!--up or down icons-->
                <div class="w3-cell w3-cell-middle" style="padding-right: 5px">

                  <!--move up angle-->
                  <i class="fa fa-angle-up w3-hover-text-teal w3-block"
                     (click)="moveUp(field)"></i>

                  <!--move down angle-->
                  <i class="fa fa-angle-down w3-hover-text-teal w3-block"
                     (click)="moveDown(field)"></i>
                </div>

                <!--field position-->
                <div class="w3-cell w3-cell-middle w3-margin-left" style="width: 50px">
                  <!--field position-->
                  <p style="font-size: small; margin: 0;padding: 0">{{field.position}}\{{orderedFieldsLength}} </p>
                </div>

                <!--field description-->
                <div class="w3-cell w3-cell-middle " style="width: 70%; padding-left: 10px">
                  <p class="w3-cell w3-cell-middle w3-margin-left">{{field.description}}</p>
                </div>


                <!--Delete field-->
                <div class="w3-cell w3-cell-middle
                          w3-hover-opacity w3-hover-text-red"
                     (click)="deleteField(field)">

                  <i class="fa fa-trash-o w3-margin-left" ></i>

                </div>
                <!--edit field-->
                <div class="w3-cell w3-cell-middle
                  w3-hover-opacity w3-hover-text-amber"
                     (click)="editField(field)">

                  <i class="fa fa-edit w3-margin-left "></i>

                </div>
              </div>

            </div>


          </div>

          <!--academic details-->
          <div class="w3-third ">
            <!--Academic details text-->
            <h6 class="w3-center w3-margin ">Academic Details</h6>
            <!--display the ordered fields from array-->
            <div class="w3-cell-row " *ngFor="let field of orderedFields">

              <div *ngIf="field.field.section === 'b'">
                <!--up or down icons-->
                <div class="w3-cell w3-cell-middle" style="padding-right: 5px">

                  <!--move up angle-->
                  <i class="fa fa-angle-up w3-hover-text-teal w3-block"
                     (click)="moveUp(field)"></i>

                  <!--move down angle-->
                  <i class="fa fa-angle-down w3-hover-text-teal w3-block"
                     (click)="moveDown(field)"></i>
                </div>

                <!--field position-->
                <div class="w3-cell w3-cell-middle w3-margin-left" style="width: 50px">
                  <!--field position-->
                  <p style="font-size: small; margin: 0;padding: 0">{{field.position}}\{{orderedFieldsLength}} </p>
                </div>

                <!--field description-->
                <div class="w3-cell w3-cell-middle " style="width: 70%; padding-left: 10px">
                  <p class="w3-cell w3-cell-middle w3-margin-left">{{field.description}}</p>
                </div>


                <!--Delete field-->
                <div class="w3-cell w3-cell-middle
                          w3-hover-opacity w3-hover-text-red"
                     (click)="deleteField(field)">

                  <i class="fa fa-trash-o w3-margin-left" ></i>

                </div>
                <!--edit field-->
                <div class="w3-cell w3-cell-middle
                  w3-hover-opacity w3-hover-text-amber"
                     (click)="editField(field)">

                  <i class="fa fa-edit w3-margin-left "></i>

                </div>
              </div>

            </div>

          </div>


          <!--additional details-->
          <div class="w3-third  ">

            <!--Additional details text-->
            <h6 class="w3-center w3-margin ">Additional Details</h6>
            <!--display the ordered fields from array-->
            <div class="w3-cell-row " *ngFor="let field of orderedFields">

              <div *ngIf="field.field.section === 'c'">
                <!--up or down icons-->
                <div class="w3-cell w3-cell-middle" style="padding-right: 5px">

                  <!--move up angle-->
                  <i class="fa fa-angle-up w3-hover-text-teal w3-block"
                     (click)="moveUp(field)"></i>

                  <!--move down angle-->
                  <i class="fa fa-angle-down w3-hover-text-teal w3-block"
                     (click)="moveDown(field)"></i>
                </div>

                <!--field position-->
                <div class="w3-cell w3-cell-middle w3-margin-left" style="width: 50px">
                  <!--field position-->
                  <p style="font-size: small; margin: 0;padding: 0">{{field.position}}\{{orderedFieldsLength}} </p>
                </div>

                <!--field description-->
                <div class="w3-cell w3-cell-middle " style="width: 70%; padding-left: 10px">
                  <p class="w3-cell w3-cell-middle w3-margin-left">{{field.description}}</p>
                </div>


                <!--Delete field-->
                <div class="w3-cell w3-cell-middle
                          w3-hover-opacity w3-hover-text-red"
                     (click)="deleteField(field)">

                  <i class="fa fa-trash-o w3-margin-left" ></i>

                </div>
                <!--edit field-->
                <div class="w3-cell w3-cell-middle
                  w3-hover-opacity w3-hover-text-amber"
                     (click)="editField(field)">

                  <i class="fa fa-edit w3-margin-left "></i>

                </div>
              </div>

            </div>

          </div>


        </div>


      </form>

    </div>

  </div>

</div>



<!--floating action button taking you to next page -->
<button class="w3-button w3-teal w3-card-2"
        (click)="onSaveOrPublish(bursaryForm, 'draft', 'two')"
        type="submit"
        [style.display]="selectedTab == 'one'? 'block' : 'none' "
        style="position: fixed; bottom: 20px; right: 20px">
      Next Section (edit bursary form fields) <i class="fa fa-arrow-circle-right"></i></button>


