<div class="w3-modal w3-animate-opacity"
     [style.display]="applicantService.rejectMessageModalOpen? 'block' : 'none' ">
  <div class="w3-modal-content w3-card-4" style="max-width:800px">

    <header class="w3-container w3-padding w3-teal">
        <span (click)="applicantService.rejectMessageModalToggle(applicantService.selectedBursary)"
              class="w3-button w3-display-topright">&times;</span>
      <h3>Confirm Reject Application</h3>
    </header>

    <div class="w3-container">
      <h5 class="w3-margin">Are you sure you want to send the following message to the applicant?
      </h5>
      <div [innerHTML]="applicantService.selectedApplicant.rejectionMessage"></div>
    </div>

    <!--modal footer-->
    <footer class="w3-container w3-teal w3-margin-top"
            style="height: 48px; padding-top: 15px">
      <!--edit button-->
      <h6 class="w3-right" (click)="sendMessage(applicantService.selectedApplicant, 'Rejected')">
        <i class="fa fa-edit"></i> Reject</h6>

    </footer>
  </div>
</div>
