<!--applicants distribution-->
<div class="w3-col w3-card"
     style="width: 49%; margin-right: 1%">

  <div style="height: 5vh">
    <div class="w3-padding"
         style="z-index: 2; position: absolute; width: 40%">
      <h4>
        Applicants distribution
        <i class="fa fa-question-circle w3-tooltip w3-right zelda-text-green">

          <p class="w3-text w3-round zelda-green w3-padding tool-tip">
            This map shows how the {{applicants.selectedBursary.title}} bursary applicants
            are distributed around the country.</p>
        </i>

      </h4>
    </div>
  </div>
  <div style="overflow: hidden;height: 37vh" *ngIf = 'ready'>
    <google-chart [type]="'GeoChart'"
                  [dynamicResize]="true"
                  [options]="applicantDistributionOptions"
                  [columnNames]="applicantDistributionColumnNames"
                  [data]="applicantDistributionData"
                  style="width: 130%;height: 300%; margin-top: -30%; margin-left: -70px">
    </google-chart>
  </div>


  <div *ngIf='!ready'  >
    <div class="w3-display-container" style="height: 37vh">
      <div class="w3-display-middle" >

        <i class="fa fa-spinner fa-spin" style="font-size:64px"></i>

      </div>

    </div>
  </div>


</div>
