<div class="w3-card" style="padding: 0">
<!--  &lt;!&ndash;select bursary dropdown&ndash;&gt;-->
<!--  <div class="w3-col" style="width: 20%">-->
<!--    <select class="w3-select w3-border w3-round-large"-->
<!--            style="margin-top: 20px;"-->
<!--            [(ngModel)] = "applicantService.selectedBursary.id" (change)="setSelectedBursary($event)">-->
<!--      <option value="" disabled>Select bursary...</option>-->
<!--      <option *ngFor="let bursary of bursaries" value="{{bursary.id}}">{{bursary.title}}</option>-->
<!--    </select>-->
<!--  </div>-->

  <div class="w3-row" style="width: 100%; padding: 0">
      <div class="w3-third">
        <div class="w3-container w3-text-black w3-padding-small green-three" >
          <div class="w3-left"><i class="fa fa-clipboard w3-large"></i></div>
          <div class="w3-right">
            <h3>{{applicantService.allCounter}}</h3>
          </div>
          <div class="w3-clear"></div>
          <h6>All applicants</h6>
        </div>
      </div>
      <div class="w3-third">
        <div class="w3-container w3-text-black w3-padding-small green-two" >
          <div class="w3-left"><i class="fa fa-files-o w3-large"></i></div>
          <div class="w3-right">
            <h3>{{applicantService.shortlistedCounter}}</h3>
          </div>
          <div class="w3-clear"></div>
          <h6>Shortlisted applicants</h6>
        </div>
      </div>
      <div class="w3-third">
        <div class="w3-container w3-text-black w3-padding-small green-one" >
          <div class="w3-left"><i class="fa fa-flag-o w3-large"></i></div>
          <div class="w3-right">
            <h3>{{applicantService.flaggedCounter}}</h3>
          </div>
          <div class="w3-clear"></div>
          <h6>Flagged applicants</h6>
        </div>
      </div>
  </div>
</div>
