<div *ngFor="let i of applicationForms | statusFilter : applicantService.selectedPageTab | sortSearchApplicants : applicantService.sortDetailsOption : applicantService.searchInputValues : applicantService.searchDetailsOption: applicantService.sortDirectionInc">
  <!--read applications-->
  <div class="w3-row w3-border-left w3-border-right w3-border-bottom w3-hover-border-light-grey"
       (click)="applicantService.previewModalToggle(i); applicantService.setApplicantsFirstTimeOpen(true)"
       *ngIf="i && i.readStatus === 'Read' && i.clientStatus !== 'Rejected'">
    <div class="w3-quarter w3-padding" >
      <i class="fa fa-flag w3-margin-right"
         (click)="applicantService.updateApplicationFlagStatus(i.applicationFormId, i.flagged)"
         [ngClass]="{
            'w3-text-light-grey': i.flagged == false,
            'w3-text-yellow': i.flagged == true
            }"></i>
      <h6 style="margin-top: 5px; display: inline"
          cursor="true">
        {{applicantService.evaluateDictProperty(i.formA, 'firstName')}} {{applicantService.evaluateDictProperty(i.formA, 'lastName')}}

      </h6>
    </div>

    <div class="w3-quarter w3-center w3-padding">
      <h6 style="margin-top: 5px">{{applicantService.evaluateDictProperty(i.formA, applicantService.titleOne) || applicantService.evaluateDictProperty(i.formB, applicantService.titleOne) }}</h6>

    </div>

    <div class="w3-quarter w3-center w3-padding">
      <h6 style="margin-top: 5px">{{applicantService.evaluateDictProperty(i.formA, applicantService.titleTwo) || applicantService.evaluateDictProperty(i.formB, applicantService.titleTwo) }}</h6>
    </div>

    <div class="w3-quarter w3-center w3-padding">
      <h6 style="margin-top: 5px">{{i.clientStatus}}
      </h6>
    </div>
  </div>
</div>
