<!--APPLICANTS aggregate marks-->
<div class="w3-col w3-card"
     style="width: 49%; margin-right: 1%; overflow: hidden">

  <!--section tittle-->
  <div style="height: 5vh">
    <div class="w3-padding"
         style="z-index: 2; position: absolute; width: 40%">
      <h4 >
        Aggregate mark distribution
        <i class="fa fa-question-circle w3-tooltip w3-right zelda-text-green">
          <p class="w3-text w3-round zelda-green w3-padding tool-tip">
            The area graph below shows the {{applicants.selectedBursary.title}} applicants average mark distribution.</p>
        </i>

      </h4>
    </div>
  </div>

  <google-chart [type]="'ColumnChart'"
                [dynamicResize]="true"
                [options]="applicantAggregateMarksOptions"
                [columnNames]="applicantAggregateMarksColumnNames"
                [data]="applicantAggregateMarksData"
                style="width: 100%; height: 37vh" *ngIf="ready">
  </google-chart>

  <div *ngIf='!ready'  >
    <div class="w3-display-container" style="height: 37vh">
      <div class="w3-display-middle" >

        <i class="fa fa-spinner fa-spin" style="font-size:64px"></i>

      </div>

    </div>
  </div>

</div>
