<div *ngFor="let i of applicationForms | statusFilter : applicantsService.selectedPageTab | sortSearchApplicants : applicantsService.sortDetailsOption : applicantsService.searchInputValues : applicantsService.searchDetailsOption : applicantsService.sortDirectionInc">
  <!--rejected applications-->
  <div class="w3-row w3-border-left w3-border-right w3-border-bottom"
       (click)="applicantsService.previewModalToggle(i); applicantsService.setApplicantsFirstTimeOpen(true)"
       *ngIf="i && i.clientStatus === 'Rejected'">
    <div class="w3-quarter w3-padding" >
      <i class="fa fa-flag w3-text-grey" style="margin-right: 5px"
         (click)="applicantsService.updateApplicationFlagStatus(i.formId, i.flaggedStatus)"></i>
      <h6 class="w3-text-grey"
          style="margin-top: 5px; display: inline"
          cursor="true">
        {{applicantsService.evaluateDictProperty(i.formA, 'firstName')}}
      </h6>
    </div>

    <div class="w3-quarter w3-center w3-padding">
      <h6 class="w3-text-grey"
          style="margin-top: 5px">{{applicantsService.evaluateDictProperty(i.formA, applicantsService.titleOne)}}</h6>
      <h6 class="w3-text-grey"
          style="margin-top: 5px">{{applicantsService.evaluateDictProperty(i.formB, applicantsService.titleOne)}}</h6>
    </div>

    <div class="w3-quarter w3-center w3-padding">
      <h6 class="w3-text-grey" style="margin-top: 5px">{{applicantsService.evaluateDictProperty(i.formA, applicantsService.titleTwo)}}</h6>
      <h6 class="w3-text-grey" style="margin-top: 5px">{{applicantsService.evaluateDictProperty(i.formB, applicantsService.titleTwo)}}</h6>
    </div>

    <div class="w3-quarter w3-center w3-padding">
      <h6 class="w3-text-grey"
          style="margin-top: 5px">{{i.clientStatus}}
      </h6>
    </div>
  </div>
</div>
