<!--applicants demographics -->
<div class="w3-rest w3-card">

  <!--section tittle-->
  <div style="height: 5vh">
    <div class="w3-padding"
         style="z-index: 2; position: absolute; width: 40%">
      <h4>
        Applicants demographics
        <i class="fa fa-question-circle w3-tooltip w3-right zelda-text-green">
          <p class="w3-text w3-round zelda-green w3-padding tool-tip">
            The charts below show the {{applicants.selectedBursary.title}} applicants demographics.</p>
        </i>

      </h4>
    </div>
  </div>
  <div class="w3-row" style="height: 37vh">

    <div class="w3-col" style="overflow: hidden; width: 55%" *ngIf = 'ready' >
      <google-chart [type]="'PieChart'"
                    [dynamicResize]="true"
                    [options]="applicantRaceOptions"
                    [columnNames]="applicantRaceColumnNames"
                    [data]="applicantRaceData"
                    style="width: 150%;height: 100%; margin-top: 10%; margin-left: -30%">
      </google-chart>
    </div>
    <div class="w3-col w3-padding" style="width: 45%" *ngIf = 'ready'>

      <div class="w3-row">
        <div class="w3-third">
          <div  style="width: 7vh; height: 200px; margin-top: 30%" *ngIf="ready" >
            <div class="green-one w3-center"
                 *ngIf="genderDataFemalePer"
                 matTooltip="females"
                 matTooltipPosition="right"
                 matTooltipClass="mat-tooltip"
                 [ngStyle]="{
                 'height': genderDataFemalePer + 'px',

                 'padding-top': (genderDataFemalePer*45/100) + 'px'}">

              <h6 >{{genderDataFemalePer / 2}}%</h6>

            </div>

            <div class="green-two w3-center"
                 *ngIf="genderDataPreferNotToSayPer"
                 style="min-height: 20px"
                 matTooltip="prefer not to say"
                 matTooltipPosition="right"
                 matTooltipClass="mat-tooltip"
                 [ngStyle]="{
                 'height': genderDataPreferNotToSayPer + 'px',
                 'padding-top': (genderDataPreferNotToSayPer*45/100) + 'px'}">
              <h6 >{{genderDataPreferNotToSayPer / 2 }}%</h6>
            </div>

            <div class="w3-col green-three w3-center"
                 *ngIf="genderDataMalePer"
                 style="min-height: 20px"
                 matTooltip="males"
                 matTooltipPosition="right"
                 matTooltipClass="mat-tooltip"
                 [ngStyle]="{
                 'height': genderDataMalePer + 'px',
                 'padding-top': (genderDataMalePer*45/100) + 'px'}">
              <h6 >{{  genderDataMalePer / 2 }}%</h6></div>

            <div class="w3-col green-four w3-center"
                 *ngIf="genderDataOtherPer"
                 style="min-height: 20px"
                 matTooltip="other"
                 matTooltipPosition="right"
                 matTooltipClass="mat-tooltip"
                 [ngStyle]="{
                 'height': genderDataOtherPer + 'px',
                 'padding-top': (genderDataOtherPer*45/100) + 'px'}">
              <h6 >{{  genderDataOtherPer / 2 }}%</h6>
            </div>
          </div>

        </div>
        <div class="w3-twothird" style="margin-top: 30%">
          <h6 class="w3-margin-top" style="font-size:12px">
            <i class="fa fa-circle green-one-text"></i> Females
          </h6>

          <h6 style="font-size:12px">
            <i class="fa fa-circle green-two-text"></i> Prefer not to say
          </h6>

          <h6 style="font-size:12px">
            <i class="fa fa-circle green-three-text"></i> Males
          </h6>

          <h6 style="font-size:12px">
            <i class="fa fa-circle green-four-text"></i> Other
          </h6>

        </div>

      </div>


    </div>

    <div *ngIf='!ready'  >
      <div class="w3-display-container" style="height: 37vh">
        <div class="w3-display-middle" >

          <i class="fa fa-spinner fa-spin" style="font-size:64px"></i>

        </div>

      </div>
    </div>

  </div>

</div>
