<div *ngFor="let i of applicationForms | statusFilter : applicantService.selectedPageTab | sortSearchApplicants : applicantService.sortDetailsOption : applicantService.searchInputValues: applicantService.searchDetailsOption: applicantService.sortDirectionInc">
  <!--unread applications-->
  <div *ngIf="i && i.readStatus === 'Unread' && i.clientStatus !== 'Rejected'"
       class="w3-row w3-border-left w3-border-right w3-border-bottom w3-hover-border-light-grey"
       (click)="applicantService.previewModalToggle(i); applicantService.setApplicantsFirstTimeOpen(true)">

    <div class="w3-quarter w3-padding" >
      <i class="fa fa-flag w3-text-black" style="margin-right: 5px"
         (click)="applicantService.updateApplicationFlagStatus(i.applicationFormId, i.flagged)"></i>
      <h6 style="margin-top: 5px; display: inline;font-weight:bold;"
          cursor="true">
        {{applicantService.evaluateDictProperty(i.formA,'firstName')}}
      </h6>
    </div>

    <div class="w3-quarter w3-center w3-padding">
      <h6 style="margin-top: 5px">{{applicantService.evaluateDictProperty(i.formA, applicantService.titleOne) || applicantService.evaluateDictProperty(i.formB, applicantService.titleOne) }}</h6>
    </div>

    <div class="w3-quarter w3-center w3-padding">
      <h6 style="margin-top: 5px">{{applicantService.evaluateDictProperty(i.formA, applicantService.titleTwo) || applicantService.evaluateDictProperty(i.formB, applicantService.titleTwo) }}</h6>
    </div>

    <div class="w3-quarter w3-center w3-padding">
      <h6 style="margin-top: 5px;font-weight:bold;">{{i.clientStatus}}
      </h6>
    </div>
  </div>
</div>
