<div class="w3-container w3-padding w3-row w3-border-right w3-border-top w3-border-left" >
  <div class="w3-quarter" style="padding-top: 5px">
    <h4 class="w3-hide" [class.w3-show]="applicantService.selectedPageTab == 'All'">
      <b>All Applicants</b>
    </h4>
    <h4 class="w3-hide" [class.w3-show]="applicantService.selectedPageTab == 'Flagged'">
      <b>Flagged Applicants</b>
    </h4>
    <h4 class="w3-hide" [class.w3-show]="applicantService.selectedPageTab == 'Shortlisted'">
      <b>Shortlisted Applicants</b>
    </h4>
    <h4 class="w3-hide" [class.w3-show]="applicantService.selectedPageTab == 'Rejected'">
      <b>Rejected Applicants</b>
    </h4>
  </div>

  <div class="w3-rest">
    <div class="w3-row-padding">

      <div class="w3-third" style="padding-top: 0.5em; padding-left: 4em">
        <div class="w3-cell" style="vertical-align: middle">
          <h6 (click)="applicantService.feedbackMessageEditModalToggle();
              applicantService.changeDefaultOpenMessageEditModal()"
              cursor="true"
              style="text-align: center">
            {{applicantService.selectedPageTab=='Rejected' ? 'Edit reject message' : applicantService.selectedPageTab=='Shortlisted' ? 'Edit shortlist message' : ''}}</h6>
        </div>
        <div class="w3-cell" style="padding-left: 0.5em;">
          <i (click)="applicantService.feedbackMessageEditModalToggle();
              applicantService.changeDefaultOpenMessageEditModal()"
             id="editIcon"
             class="fa fa-edit fa-2x w3-text-teal"
             style="vertical-align: middle;"
             [style.display] = "applicantService.editIconDisplay"></i>
        </div>
      </div>

      <div class="w3-third" >

        <div class="w3-row">

          <div class="w3-threequarter">
            <div class="w3-border w3-round-large " style="padding-right: 4px" >
              <div class="w3-cell">
                <i class="fa fa-search w3-margin-left w3-text-grey"></i>
              </div>
              <div class="w3-cell">
                <input class="w3-input"
                       style="border: 0"
                       type="text" placeholder="Search"
                       (keyup)="applicantService.onSearchKey($event)">
              </div>
            </div>
          </div>

          <div class="w3-quarter">
            <div matTooltip="Search an attribute specified by the search by drop down menu. Defaults to searching all attributes"
                 matTooltipPosition="above"
                 matTooltipClass="mat-tooltip"
                 style="padding-left: 0.5em; padding-right: 4em; padding-top: 5px">
              <i class="fa fa-question-circle fa-2x zelda-text-green"></i>

            </div>
          </div>

        </div>


      </div>

      <div class="w3-third" style="padding-left: 1em">

        <div class="w3-row">
          <div class=" w3-threequarter" >
            <select class="w3-select w3-border w3-round-large"
                    name="searchDetailsOption"
                    style="height: 5.5vh;"
                    [(ngModel)] = "applicantService.searchDetailsOption"
                    (ngModelChange)="applicantService.changeSearchDetailsOption($event)">
              <option value="" disabled selected>Search by...</option>
              <option value="firstName">Name</option>
              <option value="gender">Gender</option>
              <option value="currentGrade">School Grade</option>
              <option value="aggregateMark">Average</option>
              <option value="combinedYearlyIncome">Income</option>
              <option value="careerIntentions">Job Goals</option>
            </select>
          </div>

          <div class=" w3-rest"
               matTooltip="Allows you to search the text of specific attributes specified in the search input element."
               matTooltipPosition="above"
               matTooltipClass="mat-tooltip"
               style="padding-left: 0.5em; padding-top: 5px">
            <i class="fa fa-question-circle fa-2x zelda-text-green"></i>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
