

.bottom-border {
    border-bottom: 1px groove #eee;
}

.sidebar-link {
    transition: all .4s;
}

.sidebar-link:hover {
    background-color: rgb(117, 113, 113);
    border-radius: 5px;
}




.shadow {

  box-shadow: 2px 2px 2px grey;

}
