<div class="w3-sidebar w3-display-container w3-bar-block w3-card side-nav-bar-green"
     style="z-index:4;"
     [style.padding-left]="sideNavMinimised? 0 : '5px' "
     [style.padding-right]="sideNavMinimised? 0 : '5px' "
     [style.width]="sideNavMinimised? '52px' : '200px' ">

    <!--minimise button-->
    <div
      [ngClass]="{'w3-hide': sideNavMinimised }"
      (click)="onHamClick()"
      class="minimise-btn">

      <i class="fa fa-angle-left minimise-icon" style="font-size: 36px">
      </i>

    </div>

     <!--client logo and hamburger-->
     <div class="w3-display-container">


       <!--client logo-->

       <img [ngClass]="{'w3-hide': sideNavMinimised }"
            class="w3-round-large w3-border-gray w3-card center-img"
            style="margin-top: 50px; margin-bottom: 50px"
            src="{{clientLogoUrl}}"
            alt="Client Logo">


       <!--show when minimised-->
         <!--hamburger button-->
         <button [ngClass]="{'w3-hide': !sideNavMinimised }"
                 style="width: 52px" class="w3-button w3-teal w3-large"
                 (click)="onHamClick()">&#9776;</button>



     </div>

    <hr [ngClass]="{'w3-hide': sideNavMinimised }" class="hr-white">



  <!--dashboard home-->
  <a routerLink="/dashboard"
     style="text-decoration: none"
     [routerLinkActive]="['activeLink']"
     [routerLinkActiveOptions]="{exact: true}"
     class="w3-bar-item w3-large w3-button w3-margin-top w3-text-white w3-hover-teal">
    <i class="fa fa-dashboard w3-margin-right w3-xlarge"></i>{{ sideNavMinimised? '': 'Dashboard'}}</a>


  <!--Applicants -->
  <a routerLink="/applicants"
     style="text-decoration: none"
     [routerLinkActive]="['activeLink']"
     [routerLinkActiveOptions]="{exact: true}"
     class="w3-bar-item w3-large w3-button w3-text-white w3-hover-teal">
    <i class="fa fa-group w3-margin-right w3-xlarge">
    </i>{{ sideNavMinimised? '': 'Applicants'}}</a>


    <!--bursaries accordion-->
    <button class="w3-button w3-large w3-block w3-left-align w3-hover-teal w3-disabled"
            matTooltip="Coming soon! This feature will allow you to add and customise your own
            application to be listed on the Zomila learning mobile and web application."
            matTooltipPosition="right"
            matTooltipClass="mat-tooltip">
      <i class="fa fa-folder-open w3-margin-right w3-text-white w3-xlarge"></i>
      <span class="w3-text-white">{{ sideNavMinimised? '': 'Bursaries  '}}</span>
<!--      <i class="fa fa-caret-down w3-text-white"></i>-->
    </button>

    <!--bursaries accordion items-->
    <div [ngClass]="{'w3-hide': accOneSelected }"
          style="padding-left: 10px; padding-right: 5px">

      <!--create new bursary button-->
      <a routerLink="/bursary/new" [routerLinkActive]="['activeLink']"
         [routerLinkActiveOptions]="{exact: true}"
         class="w3-bar-item w3-button w3-text-white">
        <i class="fa fa-plus" ></i> {{ sideNavMinimised? '': 'Create new'}}</a>


      <!--manage current bursaries button-->
      <a  *ngFor="let bursary of bursaries; let i = index"
          routerLink="/bursary/{{bursary.id}}" [routerLinkActive]="['activeLink']"
          [routerLinkActiveOptions]="{exact: true}"
          class="w3-bar-item w3-button w3-text-white" [style.margin-left]=" sideNavMinimised? null : '30px'">
        {{ sideNavMinimised? i+1: bursary.title}}</a>



  </div>

  <div >



  </div>




  <!--side nav footer-->

  <!--shown when side bar is not minimised -->
  <div [ngClass]="{'w3-hide': sideNavMinimised }"
    class="w3-display-bottomleft w3-padding">Powered by<a href="https://zelda.org.za"
       title="Zelda Learning" target="_blank" class="w3-hover-opacity"> Zomila learning</a></div>

  <!--shown when side bar is minimised -->
  <div [ngClass]="{'w3-hide': !sideNavMinimised }"
       class="w3-display-bottomleft w3-margin-bottom">

    <!--zelda logo-->
    <a href="https://zelda.org.za"
    title="Zelda Learning" target="_blank" class="w3-hover-opacity">
      <img src="assets/img/new_zelda_logo.png"
           class="w3-circle" style="height:40px;width:40px;margin-left: 5px" alt="Zelda logo"></a>

  </div>



</div>
