<div class="w3-card-4">
  <header class="w3-container">

    <!--back button ,edit bursary tittle, delete bursary-->
    <div class="w3-row w3-margin-top">
      <!--back to bursaries-->
      <div class="w3-third w3-container">
        <button routerLink="/bursaries" class="w3-button w3-white w3-right">
          <i class="fa fa-angle-double-left" style="font-size:18px"></i></button>

      </div>
      <!--edit bursary text-->
      <div class="w3-third w3-container w3-center">
        <h2 class="text-center">Edit Bursary</h2>
      </div>
      <!--delete bursary button-->
      <div class="w3-third w3-container">
        <button class="w3-button w3-white w3-left" style="font-size:18px" data-toggle="modal"
                data-target="#cancelModal" routerLink="/bursary/delete/{{bursaryId}}">
          <i class="fa fa-trash-o"></i></button>

      </div>
    </div>

  </header>

  <!--beginning of form-->
  <form class="w3-container w3-margin-top w3-margin-bottom" (ngSubmit)="updateBursary()">
    <!--first row of inputs-->
    <div class="w3-row-padding">

      <!--bursary tittle input-->
      <div class="w3-third">
        <input class="w3-input" type="text"
               name="title" #bursaryTitle="ngModel"
               minlength="2" required [(ngModel)]="bursary.title"
               placeholder="Bursary Tittle">
      </div>
      <!--bursary link input-->
      <div class="w3-third">

        <input class="w3-input"
               name="bursaryUrl" [(ngModel)]="bursary.bursaryUrl"
               type="text" placeholder="Bursary Website Link">
      </div>

      <!--closing date input-->
      <div class="w3-third">

        <input class="w3-input"
               name="closingDate"
               placeholder="Date Time:" [(ngModel)]="bursary.closingDate" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" >
        <owl-date-time #dt></owl-date-time>
      </div>
    </div>

    <!--bursary and course field select-->
    <div class="w3-row-padding w3-margin-top">

      <!--parent field options -->
      <div class="w3-half">
        <angular2-multiselect name="fields" [data]="fieldsOptions"
                              [(ngModel)]="bursary.field" [settings]="fieldDropdownSettings">
        </angular2-multiselect>

      </div>

      <!--secondary field option-->
      <div class="w3-half">

        <angular2-multiselect
          name="applicableFields" [data]="applicableFieldsOptions"
          [(ngModel)]="bursary.applicableFields" [settings]="courseDropdownSettings">
        </angular2-multiselect>
      </div>
    </div>


    <!--Description text input ckeditor-->
    <div class="w3-container w3-margin-top">
      <p class="w3-medium">Bursary Description</p>

      <ckeditor skin="moono-lisa" [config]="{uiColor: '#c9c9c9', extraPlugins: 'divarea'}"
                [(ngModel)]="bursary.subtitle" name="description">
      </ckeditor>
    </div>

    <!--application text input ckeditor-->
    <div class="w3-container w3-margin-top">
      <p class="w3-medium">Application Process</p>

      <ckeditor [config]="{uiColor: '#9d9d9d', extraPlugins: 'divarea'}"
                [(ngModel)]= "bursary.applicationProcess" name="applicationProcess">
      </ckeditor>

    </div>

    <!--Additional requirements text input ckeditor-->
    <div class="w3-container w3-margin-top">
      <p class="w3-medium">Additional Requirements e.g. student must be from a specific area.</p>
      <ckeditor [config]="{uiColor: '#8d8d8d', extraPlugins: 'divarea'}"
                [(ngModel)]="bursary.requirements" name="requirements">
      </ckeditor>
    </div>


    <!--Support provided text input ckeditor-->
    <div class="w3-container w3-margin-top">
      <p class="w3-medium">Support Provided for the student e.g. tuition, allowance, books e.t.c</p>

      <ckeditor [config]="{uiColor: '#7d7d7d', extraPlugins: 'divarea'}"
                [(ngModel)]="bursary.supportProvided" name="supportProvided">
      </ckeditor>

    </div>

    <!--submit bursary button-->
    <div class="w3-container w3-margin-top">
      <p class="w3-text-green w3-center">{{alertMessage}}</p>
      <button class="w3-button w3-block w3-teal w3-section w3-padding"
              type="submit">Edit</button>
    </div>

  </form>

</div>
