.btn {
    background-color: #03837c;
    color: white;

}

.btn-link {
    color: #03837c;
    cursor: pointer;
}

.btn-link:hover {
    color: #024b47;
}

#deleteBtn {
    background-color: white;
}
a {
    color: #03837c;
}

a:link {
    color: #03837c;
}

a:hover {
    color: #024b47;
}

#content {
    justify-content: center;
    display: flex;
}

.fa-pencil {
    color: #03837c;
}

.fa-pencil:hover {
    color: #024b47;
}
