<div class="w3-row w3-border w3-grey w3-padding-0" >

  <div class="w3-quarter w3-border-right w3-padding-small">
    <div class="w3-quarter">
      <h1></h1>
    </div>
    <div class="w3-half w3-center">
      <h5 style="padding-top: 0.65em">Name</h5>
    </div>
    <div class="w3-rest w3-right">
      <i class="fa fa-sort" style="padding-top: 1em"
         (click) = "applicantService.changeSortDetailsOption(applicantService.titleFive)" ></i>
    </div>
  </div>

  <div class="w3-quarter w3-border-right w3-padding-small" >
    <div class="w3-quarter">
      <h1></h1>
    </div>
    <div class="w3-half w3-center w3-padding-top w3-padding-bottom">
      <select class="titleOne w3-select w3-border w3-large w3-center grey"
              name="titleOne"
              [(ngModel)] = "applicantService.titleOne">
        <option value="gender">Gender</option>
        <option value="currentGrade">School Grade</option>
        <option value="aggregateMark">Average</option>
        <option value="combinedYearlyIncome" selected>Income</option>
        <option value="careerIntentions">Job Goals</option>
      </select>
    </div>

    <div class="w3-rest w3-right">
      <i class="fa fa-sort" style="padding-top: 1em"
         (click) = "applicantService.changeSortDetailsOption(applicantService.titleOne)"></i>
    </div>
  </div>

  <div class="w3-quarter w3-border-right w3-padding-small" style="margin-bottom: 0">
    <div class="w3-quarter">
      <h1></h1>
    </div>
    <div class="w3-half w3-center w3-padding-top w3-padding-bottom" >
      <select class="w3-select w3-border w3-large grey"
              name="tabTitleTwo"
              [(ngModel)] = "applicantService.titleTwo">
        <option value="gender">Gender</option>
        <option value="currentGrade">School Grade</option>
        <option value="aggregateMark">Average</option>
        <option value="combinedYearlyIncome">Income</option>
        <option value="careerIntentions">Job Goals</option>
      </select>
    </div>
    <div class="w3-rest w3-right">
      <i class="fa fa-sort" style="padding-top:1em"
         (click) = "applicantService.changeSortDetailsOption(applicantService.titleTwo)"></i>
    </div>
  </div>

  <div class="w3-quarter w3-padding-small">
    <div class="w3-quarter">
      <h1></h1>
    </div>
    <span class="w3-half w3-center">
      <h5 style="padding-top: 0.65em">Status</h5>
      </span>
    <span class="w3-rest w3-right">
      <i class="fa fa-sort w3-cell-middle" style="padding-top: 1em"
         (click) = "applicantService.changeSortDetailsOption(applicantService.titleThree)"></i>
      </span>
  </div>
</div>
