<!--school details-->
<div class="w3-half">
  <!--school content-->
  <div class="w3-border w3-margin">
    <div class="w3-light-grey w3-border-bottom w3-padding w3-margin-bottom">
      <h5 style="margin-top: 5px">School Details
      </h5>
    </div>

    <!--School details-->
    <div class="w3-row-padding">
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formB ,'currentGrade')}} </h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formB , 'currentGrade')}} </h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding">
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formB ,'schoolYearStarted')}} </h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formB , 'schoolYearStarted')}} </h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding" *ngIf="applicantService.selectedApplicant.formB.currentGrade !== 'Matriculated'">
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formB ,'schoolYearEnded')}} </h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formB , 'schoolYearEnded')}} </h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding" *ngIf="applicantService.selectedApplicant.formB.currentGrade === 'Matriculated'">
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formB ,'matricCompletedYear')}} </h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formB , 'matricCompletedYear')}} </h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formB ,'postMatricStudies')}} </h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formB , 'postMatricStudies')}} </h6>
      </div>
      <br>
      <hr>
    </div>


    <div class="w3-row-padding">
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formB ,'universityYear')}} </h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formB , 'universityYear')}} </h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding">
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formB ,'universityName')}} </h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formB , 'universityName')}} </h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding">
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formB ,'degreeName')}} </h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formB , 'degreeName')}} </h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding">
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formB ,'degreeApplicationYear')}} </h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formB , 'degreeApplicationYear')}} </h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding">
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formB ,'degreeStartedYear')}} </h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formB , 'degreeStartedYear')}} </h6>
      </div>
      <br>
      <hr>
    </div>


    <div class="w3-row-padding">
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formB ,'degreeDuration')}} </h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formB , 'degreeDuration')}} </h6>
      </div>
      <br>
      <hr>
    </div>




    <div class="w3-row-padding w3-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formB ,'subjectMarksMostRecent')}} </h6>
      </div>

      <div class="w3-half" *ngIf="applicantService.selectedApplicant.formB.subjectMarksMostRecent">

        <ul>
          <li *ngFor="let subject of applicantService.objectKeys(applicantService.selectedApplicant.formB.subjectMarksMostRecent)">
            <h6>{{ subject }}   {{ applicantService.selectedApplicant.formB.subjectMarksMostRecent[subject] }} </h6>
          </li>
        </ul>

      </div>
    </div>

  </div>
</div>
