<div class="w3-half">
  <!--personal content-->
  <div class="w3-border w3-margin">
    <div class="w3-light-grey w3-border-bottom w3-padding w3-margin-bottom">
      <h5 style="margin-top: 5px">Personal Details
      </h5>
    </div>

<!--    personal details-->

    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>First and Last Name </h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA ,'firstName') }}
          {{applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA ,'lastName') }} </h6>
      </div>
      <br>
      <hr>
    </div>


    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA ,'homeLanguage') }}</h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA ,'homeLanguage') }}</h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA ,'otherLanguage') }}</h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA ,'otherLanguage') }}</h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA ,'gender') }}</h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA ,'gender') }}</h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA ,'race') }}</h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA ,'race') }}</h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA ,'homeOrigin') }}</h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA ,'homeOrigin') }}</h6>
      </div>
      <br>
      <hr>
    </div>


    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA , 'dateOfBirth') }}</h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA , 'dateOfBirth') }}</h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA , 'nationality') }}</h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA , 'nationality') }}</h6>
      </div>
      <br>
      <hr>
    </div>


    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA , 'saCitizen') }}</h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA , 'saCitizen') }}</h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA , 'placeOfBirth') }}</h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA , 'placeOfBirth') }}</h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA , 'maritalStatus') }}</h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA , 'maritalStatus') }}</h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA , 'guardianOccupation') }}</h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA , 'guardianOccupation') }}</h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA , 'combinedYearlyIncome') }}</h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA , 'combinedYearlyIncome') }}</h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA , 'disability') }}</h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA , 'disability') }}</h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA , 'culturalActivities') }}</h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA , 'culturalActivities') }}</h6>
      </div>
      <br>
      <hr>
    </div>

    <div class="w3-row-padding" >
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA , 'crimes') }}</h6>
      </div>
      <div class="w3-half">
        <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA , 'crimes') }}</h6>
      </div>
      <br>
      <hr>
    </div>




  </div>

</div>
