<div class="w3-display-container" style="max-height: 100vh">

  <!--background image-->
  <img src="assets/img/background.jpg"
       style="width:100%; max-height: 100vh"
       class="w3-grayscale-min w3-opacity-max" alt="background image">


  <div class="w3-card-4 w3-white w3-display-middle " style="max-width:500px;max-height:700px ">

    <!--top logo-->
    <div class="w3-center"><br>
      <img src="assets/img/new_zelda_logo.png" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
    </div>

    <!--form section-->
    <form class="w3-container" (submit)="onSubmit()">
      <div class="w3-section">
        <!--email input-->
        <p>
          <input [(ngModel)]="email" placeholder="your@email.com"
                 class="w3-input" name="email" type="email" required>
          <label class="w3-small">Email</label>
        </p>
        <!--password field -->
        <p>
          <input name="password" [(ngModel)]="password" placeholder="password"
                 class="w3-input" type="password" required>
          <label class="w3-small">Password</label>
        </p>
        <!--client id field -->
        <p>
          <input [(ngModel)]="clientId" placeholder="Enter the provided client id"
                 class="w3-input" name="clientID" type="password" required>
          <label class="w3-small">Client ID</label>
        </p>


        <!--sign up button-->
        <button class="w3-button w3-block w3-teal w3-section w3-padding" type="submit">Sign Up</button>

      </div>
    </form>

    <!--login page link -->
    <div class="w3-container w3-center w3-border-top w3-padding-16 w3-light-grey">
      <span class="w3-padding w3-hide-small ">Already registered? <a routerLink="/login">Login</a></span>
      <div class="w3-padding w3-hide-small ">To obtain a client id email <a href="mailto: carla@zelda.org.za">carla@zelda.org.za</a></div>
    </div>

  </div>

</div>
