<div class="w3-modal w3-animate-opacity modalPreview" [style.display]="applicantService.feedbackMessageEditModalOpen? 'block' : 'none' ">
  <div class="w3-modal-content w3-card-4" style="width:1100px">

    <header class="w3-container w3-padding w3-teal">
          <span (click)="applicantService.feedbackMessageEditModalToggle()"
                class="w3-button w3-display-topright">&times;</span>
      <h3>Customise Feedback Messages</h3>
    </header>

    <!--instructional text-->
    <div class="w3-container w3-margin-top w3-margin-bottom">

      <h6>
        Type out what you would like applicants to see when they get a feedback email.

      </h6>
      <h6>
        Type _name_ where you would like their name to be.
      </h6>
    </div>

    <!--tab buttons-->
    <div class="w3-container ">
      <div class="w3-row w3-border-bottom" >

        <div class="w3-half">
          <button [class.w3-teal]="applicantService.feedbackMessageModalTab == 'accept'"
                  class="w3-button w3-border-top w3-border-right w3-border-left
              border-top-radius"
                  style="width: 99%"
                  (click)="applicantService.changeFeedbackMessageTab('accept')">Accept Message</button>
        </div>

        <div class=" w3-half">
          <button [class.w3-teal]="applicantService.feedbackMessageModalTab == 'reject'"
                  class="w3-button w3-block w3-border-top w3-border-right
            w3-border-left border-top-radius"
                  style="width: 99%"
                  (click)="applicantService.changeFeedbackMessageTab('reject')">Reject Message</button>
        </div>
      </div>
    </div>


    <!-- accept message ckeditor-->
    <div class="w3-container" [style.display]="applicantService.feedbackMessageModalTab == 'accept'? 'block' : 'none' ">

      <ckeditor skin="moono-lisa" [config]="{uiColor: '#c9c9c9', extraPlugins: 'divarea'}"
                [(ngModel)]="applicantService.acceptMessage">
      </ckeditor>

    </div>

    <!-- reject message ckeditor-->
    <div class="w3-container" [style.display]="applicantService.feedbackMessageModalTab == 'reject'? 'block' : 'none' ">

      <ckeditor skin="moono-lisa" [config]="{uiColor: '#c9c9c9', extraPlugins: 'divarea'}"
                [(ngModel)]="applicantService.rejectMessage" >
      </ckeditor>

    </div>

    <!--modal footer-->
    <footer class="w3-container">

      <!--warning text and save button-->
      <div class="w3-row-padding">
        <div class="w3-half" >

          <div class="w3-panel w3-pale-yellow w3-display-container">
            <!--<span onclick="this.parentElement.style.display='none'"-->
            <!--class="w3-button w3-large w3-display-topright"><b>x</b></span>-->

            <p><b>Warning!</b> These messages will automatically be sent as feedback at the end of the review process.</p>
          </div>
        </div>

        <div class="w3-half">
          <!--edit button-->
          <button class="w3-right w3-button w3-border"
                  style="margin-top: 25px"
                  (click)="applicantService.updateAcceptAndRejectMessages()">
            <i class="fa fa-save"></i> Save
          </button>

        </div>

      </div>
    </footer>
  </div>
</div>
