<!--&lt;!&ndash; the better template &ndash;&gt;-->
<!--<div class="row">-->

<!--  <div class="col-12">-->
<!--    <div class="row">-->
<!--      <div class="col-md-6 p-2">-->
<!--        <a routerLink="/#" class="btn-link">-->
<!--          <i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard </a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <h2 class="text-center"> Edit Company Info </h2>-->

<!--  </div>-->

<!--</div>-->

<!--<div class="container">-->
<!--  <hr>-->
<!--  <div class="row">-->

<!--    &lt;!&ndash; left column &ndash;&gt;-->
<!--    <div class="col-md-3">-->
<!--      <div class="text-center">-->
<!--        <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">-->
<!--        <h6>Upload a different photo...</h6>-->
<!--        <input type="file" class="form-control" id="photoInput" (change)="onFileSelected($event)">-->
<!--      </div>-->
<!--    </div>-->

<!--    &lt;!&ndash; edit form column &ndash;&gt;-->
<!--    <div class="col-md-9 personal-info" *ngIf="client">-->
<!--      <form class="form-horizontal" role="form">-->
<!--        <div class="form-group">-->
<!--          <label class="col-lg-5 control-label">Company Name</label>-->
<!--          <div class="col-lg-8">-->
<!--            <input class="form-control" type="text" value={{client.title}} readonly>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label class="col-lg-5 control-label"> Link </label>-->
<!--          <div class="col-lg-8">-->
<!--            <input class="form-control" type="text" value={{client.link}} readonly>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label class="col-lg-5 control-label">About The Company</label>-->
<!--          <div class="col-lg-8">-->
<!--            <form #descriptionForm="ngForm" (ngSubmit)="onSubmit(descriptionForm)">-->
<!--              <div class="form-control">-->
<!--                <ckeditor [config]="{extraPlugins: 'divarea'}" placeholder="description">-->
<!--                </ckeditor>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--          <label class="col-lg-7 control-label"> Company Admins</label>-->
<!--          <div class="col-lg-8" *ngFor="let admin of clientAdmins">-->
<!--            <input class="form-control" type="text" value="{{admin.firstName}} {{admin.lastName}} ({{admin.email}})" readonly>-->
<!--          </div>-->
<!--          <button type="button" class="btn btn-link" data-toggle="modal" data-target="#addAdmin"> <i class="fa fa-plus" aria-hidden="true"></i> Add Admin</button>-->
<!--        </div>-->

<!--        <div class="row" id="btnrow">-->
<!--          <div class="col">-->
<!--            <button type="button" class="btn btn-outline-danger"> Reset </button>-->
<!--          </div>-->
<!--          <div class="col">-->
<!--            <button type="button" class="btn btn-outline-success " (click)="onUpload()"> Save-->
<!--              <i class="fa fa-chevron-right" aria-hidden="true"></i>-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->


<!--      </form>-->


<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<hr>-->


<!--&lt;!&ndash; [(ngModel)]="description" &ndash;&gt;-->
<!--&lt;!&ndash; Modal &ndash;&gt;-->
<!--<div id= "mymodal">-->
<!--    <div class="modal fade" id="addAdmin" tabindex="-1" aria-labelledby="addAdminLabel" role="dialog" >-->

<!--        <div class="modal-dialog" role="document">-->
<!--          <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--              <h5 class="modal-title" id="addAdminLabel" >Add Company Admin</h5>-->
<!--              <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                <span aria-hidden="true">&times;</span>-->
<!--              </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--              <input class= "form-control" id= "admin"type="text" placeholder="First Name" [(ngModel)]="newAdmin.firstName">-->
<!--              <input class= "form-control" id= "admin" type="text" placeholder="Last Name" [(ngModel)]="newAdmin.lastName">-->
<!--              <input class= "form-control" id= "admin" type="text" placeholder="Email" [(ngModel)]="newAdmin.email">-->
<!--            </div>-->
<!--            <div class="modal-footer">-->
<!--              <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel</button>-->
<!--              <button type="button" class="btn btn-primary" (click)= "addClientAdmin()" data-dismiss= "modal" > Confirm </button>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


<!--    </div>-->

<div class="w3-container">

<h1 class="zelda-text-green w3-margin-top">
  Changing Your Zomila Learning Password
</h1>

  <p>
    Need to reset your Zomila password? No problem, just click the button below to get started.
  </p>


  <button class="w3-button zelda-green" (click)="sendResetEmail()" >
    Reset my password
  </button>

  <p class="zelda-accent-text w3-margin-top">{{message}}</p>


</div>
