a {
    color: #03837c;
}

a:link {
    color: #03837c;
}

a:hover {
    color: #024b47;
}

#btnrow {
    padding: 50px;
    text-align: center;
}

form {
    width: 500px;
}

.form-control {
    width: 500px;
}

#photoInput {
    width: 250px;
}

#mymodal {
    width: 600px;
    justify-content: center;
    padding: 100px;
}

#admin {
    width: 400px;
}
