<div class="w3-container w3-padding-right w3-margin-top">

<h2 class="w3-margin-top" >Central Bursary Application</h2>

<div class="w3-margin-top" style="margin-bottom: 2em">

  <a href="mailto: carla@zelda.org.za" target="_blank" style="text-decoration: none; color: white">
    <button class="w3-button w3-round w3-teal"
            matTooltip="Request a quote to get a list which includes the contact details of all the applicants in your shortlisted tab."
            matTooltipPosition="right"
            matTooltipClass="mat-tooltip"
            style="width: 30vw">
      Request a quote
    </button>
  </a>



</div>

<app-tabs-list></app-tabs-list>
<app-filter-search></app-filter-search>

<!--  table-->
<app-table-header></app-table-header>
<app-unread-applications></app-unread-applications>
<app-read-applications></app-read-applications>

  <br>
<!--<app-pagination></app-pagination>-->

<!--  modals -->
<!--<app-accept-message></app-accept-message>-->
<!--<app-reject-message></app-reject-message>-->
<!--<app-edit-message></app-edit-message>-->

</div>

<app-details></app-details>

