<div class="padding-tiny" style="height: 100vh">
  <!--Top information boxes-->
  <app-dashboard-header></app-dashboard-header>

  <div style="margin-bottom: 10px" >
    <!--beginning of charts top row-->
    <div class="w3-row top-margin-tiny" >

      <app-applicants-distribution></app-applicants-distribution>
      <app-applicants-demographic></app-applicants-demographic>

    </div>

    <!--beginning of charts bottom row-->
    <div class="w3-row top-margin-tiny">

      <app-applicant-mark></app-applicant-mark>
      <app-applicant-income></app-applicant-income>


    </div>
  </div>
</div>
