<!-- Modal -->
<div>
  <div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" role="dialog">

    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cancelModalLabel">Delete Bursary</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this Bursary?
          <br> This change cannot be undone.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/bursaries">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="deleteBursary()" data-dismiss="modal" routerLink="/bursaries"> Confirm </button>
        </div>
      </div>
    </div>
  </div>

</div>
