<div class="w3-row" >
  <div class="w3-third">
    <button [class.w3-teal]="applicantService.selectedPageTab == 'All'"
            class="w3-button w3-border-top w3-border-right w3-border-left
              border-top-radius"
            style="width: 98%"
            (click)="applicantService.changePageTab('All');
              applicantService.toggleEditIconDisplay('editIcon','All')">
      All <span class="counterDisplay">{{applicantService.allCounter}}</span></button>
  </div>

  <div class="w3-third">
    <button [class.w3-teal]="applicantService.selectedPageTab == 'Flagged'"
            class="w3-button w3-block w3-border-top w3-border-right
            w3-border-left border-top-radius"
            style="width: 98%"
            (click)="applicantService.changePageTab('Flagged');
               applicantService.toggleEditIconDisplay('editIcon','Flagged')">
      Flagged <span class="counterDisplay">{{applicantService.flaggedCounter}}</span></button>
  </div>

  <div class="w3-third">
    <button [class.w3-teal]="applicantService.selectedPageTab == 'Shortlisted'"
            class=" w3-button w3-block w3-border-top w3-border-right
            w3-border-left border-top-radius"
            (click)="applicantService.changePageTab('Shortlisted');
            applicantService.toggleEditIconDisplay('editIcon','Shortlisted')">
      Shortlisted <span class="counterDisplay">{{applicantService.shortlistedCounter}}</span></button>
  </div>

<!--  <div class="w3-quarter">-->
<!--    <button [class.w3-teal]="applicantService.selectedPageTab == 'Rejected'"-->
<!--            class="w3-button w3-block w3-border-top w3-border-right-->
<!--            w3-border-left border-top-radius"-->
<!--            (click)="applicantService.changePageTab('Rejected');-->
<!--              applicantService.toggleEditIconDisplay('editIcon','Rejected')">-->
<!--      Rejected <span class="counterDisplay">{{applicantService.rejectedCounter}}</span></button>-->
<!--  </div>-->
</div>
