<!--long questions -->


<div class="w3-border w3-margin">
  <div class="w3-light-grey w3-border-bottom w3-padding w3-margin-bottom">
    <h5 style="margin-top: 5px">{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA , 'careerIntentions') }}</h5>
  </div>
  <div class="w3-container">
    <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA , 'careerIntentions') }}</h6>
  </div>
</div>

<div class="w3-border w3-margin">
  <div class="w3-light-grey w3-border-bottom w3-padding w3-margin-bottom">
    <h5 style="margin-top: 5px">{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA , 'hobbies') }}</h5>
  </div>
  <div class="w3-container">
    <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA , 'hobbies') }}</h6>
  </div>
</div>

<div class="w3-border w3-margin">
  <div class="w3-light-grey w3-border-bottom w3-padding w3-margin-bottom">
    <h5 style="margin-top: 5px">{{ applicantService.evaluateDictProperty(applicantService.selectedBursaryForm.formA , 'awards') }}</h5>
  </div>
  <div class="w3-container">
    <h6>{{ applicantService.evaluateDictProperty(applicantService.selectedApplicant.formA , 'awards') }}</h6>
  </div>
</div>
