<div class="w3-center w3-margin-top w3-margin-bottom">
  <div class="w3-bar">
    <a  class="w3-button">&laquo;</a>
    <a class="w3-button">1</a>
    <a  class="w3-button">2</a>
    <a class="w3-button">3</a>
    <a class="w3-button">4</a>
    <a  class="w3-button">&raquo;</a>
  </div>
</div>
