<div class="w3-modal w3-animate-opacity" [style.display]="applicantsService.acceptMessageModalOpen? 'block' : 'none' ">
  <div class="w3-modal-content w3-card-4" style="max-width:800px">
    <header class="w3-container w3-padding w3-teal">
        <span (click)="applicantsService.acceptMessageModalToggle(applicantsService.selectedBursary)"
              class="w3-button w3-display-topright">&times;</span>
      <h3>Confirm Acceptance Message</h3>
    </header>
    <div class="w3-container">
      <h5 class="w3-margin">Are you sure you want to send the following message to the applicant?
      </h5>
      <div [innerHTML]="applicantsService.selectedApplicant.acceptanceMessage"></div>
    </div>

    <!--modal footer-->
    <footer class="w3-container w3-teal w3-margin-top"
            style="height: 48px; padding-top: 15px">
      <!--shortlist-->
      <h6 class="w3-right" (click)="sendMessage(applicantsService.selectedApplicant, 'Shortlisted')">
        <i class="fa fa-edit"></i> Shortlist</h6>
    </footer>
  </div>
</div>
